@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Roboto:wght@300&display=swap');

body {
    font-family: Roboto;
}

button {
    margin-bottom: 10px;
    border-radius: 5px;
}

#container {
    display: flex;
    justify-content: space-between;
}

.row {
    flex: 1;
}

.col {
    flex: 1;
    border: 1px solid black;
    padding-bottom: 100%;
}

.hovered {
    background-color: black;
}
